.img1  {
	float: right;
	     width :  70px;
         height:  70px ;
     
	
}

/* Style the tab content */
/*
.tabcontent   {
	
       display: none;   
     background-color: #ddd;
    padding: 6px 12px;
    border: 1px solid #ccc;
	overflow: hidden;
    border-top: none; 

} 
*/
  

 
/* Style the buttons that are used to open the tab content */
.tab div {
    background-color:  #f1f1f1;
    float: left;
    border: none;
     outline: none; 
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
	 border-top-left-radius:  30%;
    
}


 div#London ,div#Paris ,div#Tokyo   {
       
        display: none; 
        
        margin : 50px;
       
     background-color: #ddd;
    padding: 6px 12px;
    border: 1px solid #ccc;
    overflow: hidden;
    border-top: none; 
   border-top-left-radius:   0%;

   }

/* Change background color of buttons on hover */
.tab  div:hover {
    background-color: #ddd;
     
}
 
   #bParis:hover +  #Paris{
	
	   display: block;
       border: 0px solid #ccc; 

         width :  60%;
     


}

  #bLondon:hover +  #London{
    
       display: block;
        border: 0px solid #ccc; 
       width :  60%;
 
}

  #bTokyo:hover +  #Tokyo{
    
       display: block;
   border: 0px solid #ccc; 
       width :  60%;

 
}





/* Create an active/current tablink class */
.tab div.active {
    background-color: #ccc;
     
}







  /*----------------------------------------*/
